body {
    margin: 0;
    padding: 0;
    font-family: "Gravitas One", serif;
    
  }

main {
  margin-left: 150px;
}

  
.titre {
    color: #4CAF50;
}

  nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
.logo {
    width: 100px; 
 }
  
.logo img {
    max-width: 100%;
 }
 .the {
  width: 300px;
  height: 200px;
  flex-shrink: 0; /* Empêche l'image de rétrécir */
    margin-right: 10px; /* Marge à droite pour espacer l'image du texte */

  }

  .oui{
    
  }

.img_bg {
  background-image:
    linear-gradient(to top, #fff, rgba(255, 255, 255, 0)),
    url('./images/thé histoire.jpg');
  width: 100%;
  height: 500px;
  background-position: center center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-shadow: 3px 3px 4px black;
}
  .bouton {
    background-color: #4CAF50; /* Couleur de fond */
    border: none; /* Suppression de la bordure */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Remplissage intérieur */
    text-align: center; /* Alignement du texte au centre */
    text-decoration: none; /* Suppression du soulignement */
    display: inline-block; /* Affichage en ligne pour s'adapter à la largeur du contenu */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Curseur de type pointer */
    border-radius: 5px; /* Rayon de bordure */
  }


.logo_mid {
  display: flex;
  justify-content: center;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.children {
  display: flex;
  align-items: center;
  margin: 0px 0 50px 0;
  flex-direction: column;
  color: #4CAF50;
}

.ligne {
  padding: 25px 0 2.5px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #fff;
  color: #000;
  font-size: 20px;
}

.ligne::placeholder {
  text-align: center;
  color: rgb(0, 0, 0);
}

.fond {
  background-color: #fff;
}

.color_t {
  color: #4CAF50;
}

.sidenav {
    height: 83vh; 
    width: 140px; 
    position:fixed;
    bottom: 0; 
    left: 0;
    background-color: #69bf64; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 20%;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg); 
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style:italic;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    justify-content:center;
  }

  .ttcolor {
    color: #69bf64;
    display: flex;
    justify-content: center;
}

.lign {
  padding: 10px 0 2.5px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #000000;
  color: #000000;
  font-size: 20px;
}

.list_form {
  display: flex;
  align-items: center;
  margin: 35px 0 35px 0;
  flex-direction: column;
  color: #4CAF50;
}


.the2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.container_histoire {
  margin: 5px 0 15px 0;
  padding: 50px;
}
