body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .header {
    text-align: center;
    margin-top: 40px; /* Aumento do espaço entre o título e o conteúdo */
    font-size: 40px; /* Tamanho do título duas vezes maior */
  }
  .additional-text {
    margin: 20px 10%; /* Espaçamento vertical de 20px e margens laterais de 10% */
    max-width: 80%; /* Largura máxima de 80% da largura da janela de visualização */
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .member {
    flex-basis: 45%;
    text-align: center;
    margin-bottom: 20px;
  }
  .member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .member h2 {
    margin-bottom: 10px;
    font-size: 24px; /* Tamanho da fonte para os nomes */
  }
  .member .position {
    font-size: 18px; /* Tamanho da fonte para os cargos */
    margin-top: -5px; /* Ajuste de espaçamento entre o nome e o cargo */
  }
  .member p {
    font-size: 16px;
    line-height: 1.6;
  }