/* La side bar */
.sidenav {
    height: 100%; 
    width: 150px; 
    position:relative;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #69bf64; 
    overflow-x: hidden; 
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  /* La navigation menu liens */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg); 
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style:italic;
    margin-bottom: 25px;
  }
  
  /* hover les liens  */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style le main */
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  /* responsive */
  @media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        width: 100px; 
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* barre de navigation */

body {
  margin: 0;
  padding: 0;
  font-family: "Gravitas One", serif;
  
}

.titre {
  color: #4CAF50;
}

nav {
  background-color: #dad4d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 100px; 
}

.logo img {
  max-width: 100%;
}

.bouton {
  background-color: #4CAF50; /* Couleur de fond */
  border: none; /* Suppression de la bordure */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Remplissage intérieur */
  text-align: center; /* Alignement du texte au centre */
  text-decoration: none; /* Suppression du soulignement */
  display: inline-block; /* Affichage en ligne pour s'adapter à la largeur du contenu */
  font-size: 16px; /* Taille de police */
  cursor: pointer; /* Curseur de type pointer */
  border-radius: 5px; /* Rayon de bordure */
}
  
  