*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #C3C3C3;
}

.table-style  {
    border-collapse: collapse;
    cursor: pointer;
    margin: 150px auto;
    border: 2px solid midnightblue;
}

.user_name_case {
    padding: 0 150px;
}

.user_list_profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #cccccc;
    border: dashed 2px #000;
    border-radius: 50px;
    padding: 5px;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    text-align: center;
}

tbody tr, td, th {
    border: 1px solid midnightblue;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

.fa-eye {
    color: #0166fe;
}
.fa-pen {
    color: #2c8511;
}
.fa-trash-can {
    color: #fe0101;
}



@media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  .table-style  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
  }
  th, td {
    padding: 10px 7px;
}

}
