*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url(./images//admin/bg-tea.png);
    
}


.panel_container {
    margin: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel_title {
    text-align: center;
    margin: 100px 0;
    color: #fff;
}

.panel_content {
    display: flex;
    gap: 50px;
}
  
.panel_user {
    /* flex: 1;
    margin: 0 0 0 500px; */
    padding: 100px;
    text-align: center;
    color: #000;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;
    background: rgb(255 255 255 / 50%);
    backdrop-filter: blur(10px);
    transition: transform 0.8s ease;
}

.panel_user:hover {
    transform: scale(1.1);
}

.panel_admin {
    /* flex: 1;
    margin: 0 500px 0 0; */
    padding: 100px;
    text-align: center;
    background: rgb(255 255 255 / 50%);
    color: #000;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    transition: transform 0.8s ease;
}

.panel_admin:hover {
    transform: scale(1.1);
}