/* La side bar */
.sidenav {
    height: 100%; 
    width: 150px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #69bf64; 
    overflow-x: hidden; 
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  /* La navigation menu liens */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg); 
  }
  
  /* hover les liens  */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style le main */
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  /* responsive */
  @media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        width: 100px; 
    }
    .sidenav a {
        font-size: 18px;
    }
}
